@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>NOR<i class="fas fa-long-arrow-alt-up"></i></i>HWIND <i class="fas fa-wind"></i></h1>
        <p class="lead">
            We have the best prices and selection of high quality foods & beverages on the
            Planet. Check out our featured discount below.
        </p>
        <p><a href="~/HW9/DisplayProducts" class="btn btn-default btn-lg">Place your order now &raquo;</a></p>
    </div>

    <h2>Discount:</h2>
    <h2 style="margin-left: 2em">- 3 Knives for $18.00</h2>
</div>