
@{
    ViewBag.Title = "Bar";
}
<div class="container">
    <div class="jumbotron">
        <h1><i class="fas fa-h-square">E</i><i class="fas fa-grip-lines-vertical"></i><i class="fab fa-old-republic"></i></h1>

        <form action="~/Foo/Index">
            <button type="submit" class="btn btn  -default">Back</button>
        </form>
    </div>
    <h2>My Favorite Gum: @ViewBag.gum </h2>
</div>

@section scripts
{
    <script>
        $(function () {
            var words = ["bounce", "flash", "pulse", "shake", "swing", "tada", "wobble", "heartBeat"];

            var word = words[Math.floor(Math.random() * words.length)];

            $('h1').addClass('animated ' + word);
        });
    </script>
}