@{
    ViewBag.Title = "Bar";
}

<form role="form" method="post" action="~/Foo/Bar">
    <div class="form-group">
        <label for="gum">What is your favorite gum: </label>
        <input type="text" class="form-control" id="gum" name="gum">
    </div>
    <button type="submit" class="btn btn  -default">Submit</button>
</form>