@{
    ViewBag.Title = "Index";
}

<h2>Color Combinator</h2>

<form role="form" method="post" action="~/HW10/colorCombinator">
    <div class="form-group">
        <label for="color1">Color 1:</label>
        <select class="form-control" id="color1" name="color1">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select>
        <label for="color2">Color 2:</label>
        <select class="form-control" id="color2" name="color2">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select>
    </div>
    <button type="submit" class="btn btn  -default">Submit</button>
</form>